* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: sans-serif;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    height: 100px;
    width: auto;
    align-items: center;
    justify-content: center;
}

nav ul li {
    height: 30px;
    padding: 0 2rem;    
}

#showcase {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    text-align: center;
    background-color: mediumseagreen;
    color: white;
}

#showcase h1 {
    margin-bottom: 1rem;
}

.info {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    height: 50vh;
    width: 100%;
    color: white;
}

.img, .content {
    width: 50%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.content h2 {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid white;
    /* border-style: solid;
    border-color: white; */
}

.info-1 {
    background: steelblue;
    align-content: flex-end;    
}

.info-1 .img {
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50vh;
    width: 50%;
}

.info-2 {
    background: firebrick;
    align-content: flex-start;
}

.info-2 .img { 
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1477884213360-7e9d7dcc1e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50vh;
    width: 50%;    
}

footer {
    height: 50px;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

@media (max-width: 500px) {
    .info {
        display: flex;
        flex-direction: column;
        width: 100vh;
        flex: 100%;
    }
}

@media (max-width: 500px) {
    .info-1 .img, .info-2 .img, .content {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 20vh;
        flex-direction: column;
        background-size: 100% 100%;
    }
}

@media (max-width: 500px) {
    .info-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .info-2 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
}

